@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "neody";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0.003 247.858);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(85% 0.143 186.61);
    --color-primary-content: oklch(20% 0.143 186.61);
    --color-secondary: oklch(74% 0.16 232.661);
    --color-secondary-content: oklch(97% 0.013 236.62);
    --color-accent: oklch(71% 0.203 305.504);
    --color-accent-content: oklch(29% 0.149 302.717);
    --color-neutral: oklch(28% 0.141 291.089);
    --color-neutral-content: oklch(97% 0.014 308.299);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
